.jeju {
  button {
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .mBtn {
    display: none;
  }
  .mBtnClose {
    display: none;
  }
  .searchAir {
    width: 70vw;
    margin: 30vw auto 0;
    .startEnd {
      margin-bottom: 1vw;
      button {
        font-size: 20px;
        &.on {
          span {
            font-weight: bold;
            font-size: 25px;
          }
        }
      }
    }
    h3 {
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 1vw;
      color: #666;
    }
    .selectOption {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #000;
      position: relative;
      padding-left: 0.5vw;
      font-size: 20px;
      .selectPort {
        width: 15%;

        .list {
          li {
            cursor: pointer;
            font-weight: bold;
            position: relative;
          }
          ul {
            width: 90%;
            position: absolute;
            background-color: #fff;
            display: none;

            &.on {
              display: block;
              position: absolute;
              bottom: 60px;
              padding: 1vw 0.5vw;
              box-shadow: 0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
                0px 2.2px 5.3px rgba(0, 0, 0, 0.028),
                0px 4.5px 10px rgba(0, 0, 0, 0.035),
                0px 8.2px 17.9px rgba(0, 0, 0, 0.042),
                0px 15.1px 33.4px rgba(0, 0, 0, 0.05),
                0px 33px 80px rgba(0, 0, 0, 0.07);
            }
            li{
            &.on{
              button{
                color: #00589E;
                font-weight: bold;
              }
            }
              
            }
          }
        }
      }
      .time {
        .selectTime {
          width: 250px;
          display: flex;
          span {
            margin: 0 3px;
          }
          .startTime {
            display: flex;
            .startHour {
              border: none;
              font-weight: bold;
              font-size: 20px;
              padding-right: 10px;
            }
            .startMin {
              border: none;
              font-weight: bold;
              font-size: 20px;
              padding-right: 10px;
            }
          }
          .endTime {
            display: flex;
            .endHour {
              border: none;
              font-weight: bold;
              font-size: 20px;
              padding-right: 10px;
            }
            .endMin {
              border: none;
              font-weight: bold;
              font-size: 20px;
              padding-right: 10px;
            }
          }
        }
      }

      .sort {
        width: 15%;
        ul {
          width: 100%;
          li {
            position: relative;
            font-weight: bold;
            cursor: pointer;
            ul {
              width: 90%;
              position: absolute;
              background-color: #fff;
              display: none;
              &.on {
                display: block;
                position: absolute;
                left: 0;
                bottom: 60px;
                padding: 1vw 0.5vw;
                box-shadow: 0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
                  0px 2.2px 5.3px rgba(0, 0, 0, 0.028),
                  0px 4.5px 10px rgba(0, 0, 0, 0.035),
                  0px 8.2px 17.9px rgba(0, 0, 0, 0.042),
                  0px 15.1px 33.4px rgba(0, 0, 0, 0.05),
                  0px 33px 80px rgba(0, 0, 0, 0.07);
              }
              li{
                &.on{
                  button{
                    color: #00589E;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
      .airLine {
        width: 18%;
        .airList {
          width: 100%;
          li {
            position: relative;
            font-weight: bold;
            cursor: pointer;
            ul {
              width: 90%;
              position: absolute;
              background-color: #fff;
              display: none;
              &.on {
                display: block;
                position: absolute;
                bottom: 60px;
                padding: 1vw 0.5vw;
                box-shadow: 0px 0.8px 2.2px rgba(0, 0, 0, 0.02),
                  0px 2.2px 5.3px rgba(0, 0, 0, 0.028),
                  0px 4.5px 10px rgba(0, 0, 0, 0.035),
                  0px 8.2px 17.9px rgba(0, 0, 0, 0.042),
                  0px 15.1px 33.4px rgba(0, 0, 0, 0.05),
                  0px 33px 80px rgba(0, 0, 0, 0.07);
              }
              li{
                &.on{
                  button{
                    color: #00589E;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
      }
      .planeName {
        font-weight: bold;
      }
      .totalSearch {
        width: 100%;
        height: 100%;
        padding: 2vw;
        font-weight: bold;
        background-color: #a60436;
        color: #fff;
      }
    }
  }
}
