.jejuResult {
  width: 70vw;
  ul {
    border: 1px solid #000;
    background-color: rgba($color: #000000, $alpha: 0.4);
    margin-top: 30px;
    li {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3vw;
      .delayTime {
        // width: 30%;
        display: flex;

        .charge {
          font-weight: bold;
          font-size: 16px;
          color: navy;
        }
      }
      .airName {
        width: 60%;
        display: flex;
        align-items: center;

        span {
          padding-right: 1vw;
          // width: 22%;
        }
        p {
          width: 20%;
          position: relative;
          padding-right: 1vw;

          &::before {
            content: "";
            width: 1px;
            height: 100%;
            background-color: #000;
            position: absolute;
            top: 0;
            left: -0.5vw;
          }
        }
      }
      .nowStatus {
        // width: 15%;
        span {
          background-color: #00589e;
          color: #fff;
          font-weight: bold;
          font-size: 14px;
          padding: 0.5vw 1vw;
          border-radius: 5px;
        }
      }
    }
  }
}
